# Exemplo de arquivo de variáveis para o Terraform
# Copie este arquivo para secrets.auto.tfvars e ajuste os valores conforme necessário

project_name = "FiapFastFoodAutenticacao"
environment  = "dev"

tags = {
  Project     = "FiapFastFoodAutenticacao"
  Environment = "dev"
  ManagedBy   = "terraform"
  Owner       = "fiap-team"
}

# Configurações JWT para Admin
jwt_secret = "FiapFastFoodSuperSecretKeyForJWTTokenGeneration2025!"
jwt_issuer = "FiapFastFood"
jwt_audience = "FiapFastFood"

# Configurações JWT específicas para Customer
jwt_customer_secret = "chave-ultra-secreta-para-o-projeto-fastfood1"
jwt_customer_issuer = "FastFoodAuth"
jwt_customer_audience = "FastFoodAPI-Customer"

