# Exemplo de arquivo de variáveis para o Terraform
# Copie este arquivo para secrets.auto.tfvars e ajuste os valores conforme necessário

project_name = "FiapFastFoodAutenticacao"
environment  = "dev"

tags = {
  Project     = "FiapFastFoodAutenticacao"
  Environment = "dev"
  ManagedBy   = "terraform"
  Owner       = "fiap-team"
}

